<?xml version="1.0" ?>
<robot name="mini_bag" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find mini_bag_description)/urdf/materials.xacro" />
<xacro:include filename="$(find mini_bag_description)/urdf/mini_bag.trans" />
<xacro:include filename="$(find mini_bag_description)/urdf/mini_bag.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="1.4036080603994642e-07 7.145997015398273e-09 -0.053595624254287336" rpy="0 0 0"/>
    <mass value="4.001168387523481"/>
    <inertia ixx="0.007943" iyy="0.005276" izz="0.004879" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://mini_bag_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="pink">
        <color rgba="255 0 132 1" />
    </material>
  </visual>
  <collision concave="yes">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://mini_bag_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
